<div class="container" style="margin-top: 120px">
	<div class="row">
		<div class="col-lg-7">
			<h1>About Us</h1>
			<p>AnchorPrep was founded by two former UCLA roommates who realized the college process was best navigated with an experienced guide.
			Their passion for working with college applicants, know-how, enthusiasm and first-hand experience will make your college journey smooth sailing.</p>
		</div>
		<div class="col-lg-4">
			<%= image_tag "logo.png", width: "350px" %>
		</div>
	</div>
	<div class="row" style="margin-top: 50px">
		<h2>Meet The Crew:</h2>
		<h3 class="lg-col-8 col-lg-offset-3" style="padding-left: 15px;">Katie Vinnicombe</h3>
		<div class="col-lg-3">
			<%= image_tag "katie.jpg", width: "250px", style: "border-radius: 10px" %>
		</div>
		<div class="col-lg-8 ">
			
			<p>Katie found herself immersed in the craziness of college admissions when her own children began to navigate the process.  In search for answers she enrolled in the UCLA certificate Program for College Counseling.  What started out as a quest for information turned into an opportunity to assist young adults reach their educational and professional goals.   Her passion for working with students began early in her career when she headed up College Recruiting for First Interstate Bank.  Katie worked directly with major universities to hire undergraduate and graduate students for various bank training programs.  In recent years she has volunteered extensively at American Martyrs School, Loyola High School, and Marlborough School in addition to serving as a board member for various charitable organizations.   She completed her practicum for her counseling certificate at Venice High School’s College Center and continues there as a volunteer.  Katie earned her B. A. in Economics at UCLA as well as her Certificate in College Counseling.  She is a member of the Western Association for College Admissions Counseling (WACAC), and serves as a reader for the UCLA Alumni Scholarship Program.</p>
			<p>Katie’s own college years have had a lasting impact on her life.  She is still active in the UCLA community, she and her family spent fourteen summers at Bruin Woods family camp and her dog is named Bruin.  Katie and her husband John live in Manhattan Beach with their two children.  Her son attends UC Berkeley and her daughter attends Georgetown University.
			</p>
		</div>
	</div>
	<div class="row" style="margin-top: 50px">
		<h3 class="lg-col-8" style="padding-left: 15px;">Kathyrn Manclark</h3>
		
		<div class="col-lg-8 ">
			<p>Katie found herself immersed in the craziness of college admissions when her own children began to navigate the process.  In search for answers she enrolled in the UCLA certificate Program for College Counseling.  What started out as a quest for information turned into an opportunity to assist young adults reach their educational and professional goals.   Her passion for working with students began early in her career when she headed up College Recruiting for First Interstate Bank.  Katie worked directly with major universities to hire undergraduate and graduate students for various bank training programs.  In recent years she has volunteered extensively at American Martyrs School, Loyola High School, and Marlborough School in addition to serving as a board member for various charitable organizations.   She completed her practicum for her counseling certificate at Venice High School’s College Center and continues there as a volunteer.  Katie earned her B. A. in Economics at UCLA as well as her Certificate in College Counseling.  She is a member of the Western Association for College Admissions Counseling (WACAC), and serves as a reader for the UCLA Alumni Scholarship Program.</p>
			<p>Katie’s own college years have had a lasting impact on her life.  She is still active in the UCLA community, she and her family spent fourteen summers at Bruin Woods family camp and her dog is named Bruin.  Katie and her husband John live in Manhattan Beach with their two children.  Her son attends UC Berkeley and her daughter attends Georgetown University.
			</p>
		</div>
		<div class="col-lg-3">
			<%= image_tag "kathryn.jpg", width: "250px", style: "border-radius: 10px" %>
		</div>
	</div>
	
</div>