<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<h1>About Us</h1>
			<p>AnchorPrep was founded by two former UCLA roommates who realized the college process was best navigated with an experienced guide.
			Their passion for working with college applicants, know-how, enthusiasm and first-hand experience will make your college journey smooth sailing.</p>
		</div>
		<div class="col-lg-4">
			<%= image_tag "logo.png", width: "350px" %>
		</div>
	</div>
	<div class="row" style="margin-top: 50px">
		<h2>Meet The Crew</h2>
		<h3 class="lg-col-8 col-lg-offset-3" style="padding-left: 15px;">Katie Vinnicombe</h3>
		<div class="col-lg-3">
			<%= image_tag "katie.jpg", width: "225px", style: "border-radius: 10px" %>
		</div>
		<div class="col-lg-8 ">
			
			<p>Katie found herself immersed in the craziness of college admissions when her own children began to navigate the process.  In search for answers she enrolled in the UCLA certificate Program for College Counseling.  What started out as a quest for information turned into an opportunity to assist young adults reach their educational and professional goals.   Her passion for working with students began early in her career when she headed up College Recruiting for First Interstate Bank.  Katie worked directly with major universities to hire undergraduate and graduate students for various bank training programs.  In recent years she has volunteered extensively at American Martyrs School, Loyola High School, and Marlborough School, in addition to serving as a board member for various charitable organizations.   She completed her practicum for her counseling certificate at Venice High School’s College Center and continues there as a volunteer.  Katie earned her BA in Economics at UCLA as well as her Certificate in College Counseling.  She is a member of the Western Association for College Admissions Counseling (WACAC), and serves as a reader for the UCLA Alumni Scholarship Program.</p>
			<p>Katie’s own college years have had a lasting impact on her life.  She is still active in the UCLA community, she and her family spent fourteen summers at Bruin Woods family camp and her dog is named Bruin.  Katie and her husband John live in Manhattan Beach with their two children.  Her son attends UC Berkeley and her daughter attends Georgetown University.
			</p>
		</div>
	</div>
	<div class="row" style="margin-top: 50px">
		<h3 class="lg-col-8" style="padding-left: 15px;">Kathryn Manclark</h3>
		
		<div class="col-lg-8 ">
			<p>Kathryn’s enthusiasm for working with students embarking on their college journey goes back to her own days at UCLA where she discovered a love of literature and writing and developed long-term friendships. Her mission is to help students find their own life-changing college experiences by guiding them through the often ridiculously complex application process. Each student is different and will have their own list of just-right colleges and their own unique voice that emerges in their personal statements.</p>
			<p>Kathryn has worked in advertising at FC&#38;B and BBDO developing media campaigns for clients including Apple and MCA/Universal. While raising her two sons she switched gears to education earning a Teaching Credential in English. She has served as a volunteer in the classroom, as an art docent and as a fundraising board member at Hermosa Valley School and Mira Costa High School. She discovered her knack for college counseling, when in addition to teaching writing, she began coaching students on their application essays.</p>
			<p>She completed her practicum for her counseling certificate at Rolling Hills Prep and continues her volunteer work assisting students through College Match. Kathryn earned her BA in English and Certificate in College Counseling from UCLA and a Teaching Credential in English from CSULB. She is a member of the Western Association for College Admissions Counseling (WACAC).</p>
			<p>Kathryn lives in Hermosa Beach with her husband Scott and has seen both her sons through the college admission process (Boston College ’15 and Santa Clara ’19), so brings a personal perspective to the table as well.</p>
		</div>
		<div class="col-lg-3">
			<%= image_tag "kathryn.jpg", width: "250px", style: "border-radius: 10px" %>
		</div>
	</div>
	
</div>