<div class="site-wrapper" >
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<!-- <div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">ESPM 163 AC</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#background">Background</a></li>
							<li><a href="#problem">Problem</a></li>
							<li><a href="#solution">Solution</a></li>
							<li><a href="#references">References</a></li>
						</ul>
					</nav>
				</div>
			</div> -->
			<div class="inner cover">
				<h1 class="cover-heading">Chevron's Richmond Refinery</h1>
				<p class="lead">A story of solidarity between Richmond’s residents, local government, and grassroots campaigns
				committed to preventing a billion dollar oil company from manipulating a community.</p>
				<p class="lead">
					<a href="#background" class="btn btn-lg btn-default">Learn more</a>
				</p>
			</div>
			<!-- <div class="mastfoot">
				<div class="inner">
					<p>Final project by <strong style="color:white">Alexander Triana</strong>. Photo credit to <a href="https://www.flickr.com/photos/stephenschiller/7730854132/">stephenschiller</a></p>
				</div>
			</div> -->
		</div>
	</div>
</div>