<div class="hero-unit"> 
		
		<div class="hero-text">
		<h1>AnchorPrep</h1>
		<h2>A clever tagline here</h2>
	</div>
	</div>
<div class="content-container">
	<div class="content-story right">
      
      <span class="content-text">
        <h3>Content info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum.</p>
      </span>
      <img src="http://placekitten.com/g/300/150" alt="girls in lab coats"/>
    </div>     
</div>