<%= image_tag("books.jpg", width: '100%', alt: "Edit Entry") %>
<div class="container" style="margin-top: 0">
	<h1>Resources</h1>
	
	<div class="rows">
		<h2 class="subheading inverse">Websites</h2>
		<ul class="services">
			<li>
				<div>
					<a target="_blank" href="http://collegeboard.com"><h3>The College Board</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
			<div>
					<a target="_blank" href="http://www.princetonreview.com"><h3>The Princeton Review</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="http://www.commonapp.org"><h3>The Common Application</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="http://www.universityofcalifornia.edu/campuses/welcome.html"><h3>University of California</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="https://secure.csumentor.edu/"><h3>CSU App</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="www.fafsa.ed.gov/"><h3>FAFSA</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="https://student.collegeboard.org/css-financial-aid-profile"><h3>CSS/Financial Aid Profile</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="https://sat.collegeboard.org/home"><h3>SAT, SAT Subject Tests</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="http://www.act.org/"><h3>ACT</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
			<li>
				<div>
					<a target="_blank" href="http://www.collegesportsscholarships.com/ncaaclearinghouse.htm"><h3>NCAA Eligibility Center</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo.</p>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="rows">
		<h2 class="subheading inverse">Books</h2>
		<ul class="services">
			<li>
				<div>
					<h3 class="book-title">Fiske Guide to Colleges</h3>
					<p>– Edward B. Fiske</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">The Insiders's Guide to the Colleges</h3>
					<p>– The Yale Daily News</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">Colleges that Change Lives</h3>
					<p>– Loren Pope</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">The Hidden Ivies</h3>
					<p>– Howard Greene & Matthew W Greene</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">Crazy U</h3>
					<p>– Andrew Ferguson</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">The Gatekeepers</h3>
					<p>– Jacques Steinberg</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">Where You Go Is Not Who You’ll Be</h3>
					<p>– Frank Bruni</p>
				</div>
			</li>
			<li>
				<div>
					<h3 class="book-title">Looking Beyond the Ivy League</h3>
					<p>– Loren Pope</p>
				</div>
			</li>
	</div>
	
</div>