<div class="container">
	<h2>AnchorPrep's Comprehensive Consulting Services</h2>
	<ul class="services">
		<li><h3>Coursework and Extracurricular Activity Planning</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p>
		</li>
		<li><h3>Standardized Testing Options Advice</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
			<li><h3>Admissions Timeline Recommendations</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
				<li><h3>Resume Preparation</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<br>
					
					<li><h3>College Search and Recommendations</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>Financial Aid and Merit Scholarship Counseling</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>College Essay and Personal Statement Guidance</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>College Interview Tips</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>Final College Decision Guidance</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>Appeal Process Assistance</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<br>
					<li><h3>Athletic recruitment and arts supplement advice </h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<li><h3>Transfer student assistance</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros. Aenean luctus dui egestas augue ultrices, quis iaculis lorem dictum</p></li>
					<ul>
						<br>
	<p>At AnchorPrep we provide one on one counseling services to students in person or  online to students everywhere. *Both comprehensive packages and hourly rates are available.</p>
</div>