<div class="container" style="padding:0">
	<h1>AnchorPrep's Comprehensive Consulting Services</h1>
	<h2 class="subheading gap">Early College Planning</h2>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-book fa-5x"></i>
			</div>
			<h3>Coursework and Extracurricular Activity Planning</h3>
			<p style="font-size: 17px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus sed lorem et commodo. Aenean non orci feugiat, euismod mauris nec, ultrices eros.</p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-pencil fa-5x"></i>
			</div>
			<h3>Standardized Testing Options Advice</h3>
			<p style="font-size: 17px">Residents have peacefully protested to raise awareness, elected leaders to political office who are against
			Chevron’s behavior, and passed measures demanding compensation for Chevron’s actions.</p>
		</div> <!-- /.col-lg-6 -->
	</div>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-calendar-o fa-5x"></i>
			</div>
			<h3>Admissions Timeline Recommendations</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-user fa-5x"></i>
			</div>
			<h3>Resume Preparation</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
	</div>
<h2 class="subheading gap">The Application Process</h2>
<div class="row">
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-institution fa-5x"></i>
			</div>
			<h3>College Search and Recommendations</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-money fa-5x"></i>
			</div>
			<h3>Financial Aid and Merit Scholarship Counseling</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-folder-open fa-5x"></i>
			</div>
			<h3>College Essay and Personal Statement Guidance</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-comments-o fa-5x"></i>
			</div>
			<h3>College Interview Tips</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-graduation-cap fa-5x"></i>
			</div>
			<h3>Final College Decision Guidance</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-legal fa-5x"></i>
			</div>
			<h3>Appeal Process Assistance</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
	</div>


	
	<h2 class="subheading gap">Other Services</h2>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-futbol-o fa-5x"></i>
			</div>
			<h3>Athletic recruitment and Arts Supplement Advice</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-exchange fa-5x"></i>
			</div>
			<h3>Transfer Student Assistance</h3>
			<p style="font-size: 17px">West County Toxics Coalition as well as Communities for a Better Environment actively work to mobilize the
			community, file lawsuits against Chevron to keep them accountable, and find more allies to help the cause.</a></p>
		</div>
	</div>
	