<div class="container" style="padding:0">
	<h1>AnchorPrep's Comprehensive Consulting Services</h1>
	<h2 class="subheading gap">Early College Planning</h2>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-book fa-5x"></i>
				<h3>Coursework &#38; Extracurricular Activity Planning</h3>
			</div>
			
			<p>We help select appropriate coursework for each student. This includes establishing a plan for 9th through 12th grade with a review of a-g requirements.  We also advise on student involvement with a focus on leadership opportunities.
</p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-pencil fa-5x"></i>
				<h3>Standardized Testing Options Advice</h3>
			</div>
			
			<p style="font-size: 17px">We provide a review of testing options and timing for the SATs, Subject Tests, ACTs and APs.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-calendar-o fa-5x"></i>
				<h3>Admissions Timeline Recommendations</h3>
			</div>
			
			<p>Together with the student we determine an application strategy that includes Early Action, Early Decision and Regular Decision Options.
</p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-user fa-5x"></i>
				<h3>Resume Preparation</h3>
			</div>

			<p>We will provide guidance for building and presenting an academic and extracurricular resume for admissions officers and alumni interviewers.
</p>
		</div>
	</div>
<h2 class="subheading gap">The Application Process</h2>
<div class="row">
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-institution fa-5x"></i>
				<h3>College Search and Recommendations</h3>
			</div>
			
			<p>After thorough research we help each student select an appropriate college list based on personal preferences.</p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-money fa-5x"></i>
				<h3>Financial Aid and Merit Scholarship Counseling</h3>
			</div>
			
			<p>We offer advice for filling out the FAFSA and researching scholarship opportunities.
</p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-folder-open fa-5x"></i>
				<h3>College Essay &#38; Personal Statement Guidance</h3>
			</div>
			
			<p>We offer advice for filling out the FAFSA and researching scholarship opportunities.
</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-comments-o fa-5x"></i>
				<h3>College Interview Tips</h3>
			</div>
			
			<p>We provide dos and don’ts and mock interviews for successful college interviews.
</p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-graduation-cap fa-5x"></i>
				<h3>Applicaiton Review</h3>
			</div>
			
			<p>We provide thorough reviews to be sure each student’s application shines.
</p>
		</div>
		<div class="col-lg-4 card">
			<div class="text-center">
				<i class="fa fa-legal fa-5x"></i>
				<h3>Final Decision &#38; Appeal Process Assistance</h3>
			</div>
			<p>We will advise on college selection once the student has their final list of acceptances.  If needed we strategize with waitlist, deferral or rejection appeals.
</p>
			
		</div>
	</div>


	
	<h2 class="subheading gap">Other Services</h2>
	<div class="row">
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-futbol-o fa-5x"></i>
				<h3>Athletic recruitment &#38; Arts Supplement Advice</h3>
			</div>
			
			<p>We advise on required supplemental information for athletics and the arts.
</p>
		</div>
		<div class="col-lg-6 card">
			<div class="text-center">
				<i class="fa fa-exchange fa-5x"></i>
				<h3>Transfer Student Assistance</h3>
			</div>
			
			<p>We provide guidance on the transfer process to or between four-year universities.
</p>
		</div>
	</div>
	