<div class="container">
<div class="col-lg-9">
    <h1>Upcoming Events</h1>

        <div class="event-container">
          <h2><%= @event.title %></h2>
          <p><%= @event.date %></p>
          <p><%= @event.summary %></p> 
        </div>
  </div>
</div>  z