    <% @updates.each do |update| %>
     <h2><%= update.title %></h2>
        <p><strong><%=update.date%></strong></p>     
        <p><%= update.summary %></p>
        <td><%= link_to 'Read More...', update %></td>
      
    <% end %>
