    <% @colleges.limit(5).each do |college| %>
    <div style="margin-bottom: 40px;">
     <h2><%= college.name %></h2>
     <%= image_tag college.photo.url(:medium) %>
        <p><%= college.summary %></p>
        <td><%= link_to 'Read More...', college %></td>
      </div>
    <% end %>
