<div class="container">
	<div class="col-lg-3">
		<div class="panel panel-default">
                <div class="panel-heading">All Colleges</div>
                <div class="panel-body">
                  <ul>
					<% @colleges.each do |college| %>
      <li><%= link_to college.name, college_path(college.id) %></li>
      <% end%>
					</ul>
                </div>
              </div>
		
	</div>
	<div class="col-lg-9">
		<h1>College Spotlight</h1>
			<p>Each week we post a different featurette on popular schools across the country.</p>
		<%= render 'colleges/list' %>
			
	</div>
</div>	