// Place all the styles related to the Colleges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.college-container {
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 2px solid #e3e3e3;
}

.college-container p {
	font-size: 16px;
}