// Place all the styles related to the Colleges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.college-container {
	padding: 20px;
	margin-bottom: 30px;
	border: 2px solid #e3e3e3;
	background-color: #f9f9f9;
	border-radius: 2px;

	p {
		font-size: 16px;
	}

	.external-info {
		p {
			margin: 2px 2px 2px 30px;
			padding: 0;
		}
	}
}