  @import "font-awesome-sprockets";
  @import "font-awesome";

#nav-tab a{
	height: 60px;
	padding-top:20px;
	font-size: 16px
}

#nav-logo a{
	padding: 5px;
	padding-right: 15px;
}

#cover-banner {
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	text-shadow: none;
	width: 80%;

	.lead {
		color: black
	}
}

.dropdown-menu {
	width: 100%;
}

.services li {
	list-style-type: none;
}

.services li.book {
	list-style-type: none;
	float: left;
	width: 50%;
	@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
                            width: 100%;
                        }
	
}

.services h3 {
	font-size: 18px;
	color: #022a50;
}

.services li p{
	font-size: 18px;
	margin-left: 20px;

}

.cover-heading {
	color: #022a50
}

.subheading {
	font-size: 30px;
	color: #022a50;
	padding-bottom: 15px;
	border-bottom: 1px solid #1995dc;
	display: inline-block;
}

.subheading.gap {
	margin: 50px 0;
}

.subheading.inverse {
	color: #1995dc;
}

.card-container {
	margin-top: 20px;
	margin-bottom: 50px;
}
.card {
	margin: 15px 0;

	p {
		font-size: 17px;
	}
}

.container {
	padding: 60px;
}

.form-photo {
	position: relative;
	background: url(asset-path('s1_wood.jpg')) no-repeat center center fixed;
  	background-size: cover;
  	height: 650px;
  	padding-top: 225px
}

.panel li {
	list-style-type: none;
	font-size: 17px;
}

.panel ul {
	-webkit-padding-start: 15px;
}

.container a:hover {
	color: inherit;
}

.article-container {
	border-bottom: 2px solid #e3e3e3;

}

.event-container {
	border-bottom: 2px solid #e3e3e3;
}
.resources-list {
	text-align: center;
}

.resources-list li{
	display: inline-block;
	margin: 10px;
}
.resource-container {
	background-color: #F2F2F2;
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
}

.subtitle {
	font-style: italic;
	font-size: 18px;
	margin: 5px;
}

.college-preview {
	vertical-align: top;
	margin-right: 25px;
	margin-bottom: 25px;
}

.college-container {
	h2 {
		margin-bottom: 30px;
	}

	.quote { 
		margin-top: 20px; 
	}

	.fact-list {
		margin-top: 30px;
		li {
			font-size: 16px;
			margin: 15px 0;
		}
	}
}

.college-feature {
	margin: 15px 0 30px 0;
}

.book-title {
	margin-bottom: 0;
}

tr {
	padding: 10px;
}
td {
	margin: 10px;
}

.testimonial {
	position: absolute;
	bottom: 10px;
	right: 10px;

	.alert {
		padding-top: 0;
		width: 400px;

		button {
			margin-top: 15px;
		}
	}

	.text {
		color: #3a87ad;
	}
}



.ribbon {
	text-align: center;
  color:  white;
  background-color: #54b4eb;
  padding: 30px 0;
  height: 300px;
  position: relative;

  h2 {
  	color: white;
  	-webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  	position: absolute;
  	top: 10;
  	margin-top: 40px;
  	border: 3px dashed;
  	padding: 15px ;
  }

  h3 {
 		font-size: 22px;
  	margin-top: 10px;
  }

  .like-fb {
		position: absolute;
		display: inline-block;
		top: 40px;
		right: 40px;
		height: 50px;
		padding: 15px;
		font-size: 16px;
		color: white;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-background-color: #30488B;
		-webkit-background-color: #30488B;
		background-color: #30488B;

		p {
			cursor: default;
		}
	}
}

#admin-dash {
	margin-top: 0;

	h2 {
		display: inline-block;
	}

	.new {
		margin: 50px;
	}
}

.button-container {
	width: 100px;
}