  @import "font-awesome-sprockets";
  @import "font-awesome";

#nav-tab a{
	height: 60px;
	padding-top:20px;
	font-size: 16px
}

#nav-logo a{
	padding: 5px;
	padding-right: 15px;
}

#cover-banner {
	background: rgba(255, 255, 255, 0.8);
	margin-top: 150px;	
	padding: 10px;
	text-shadow: none;
	width: 80%
}

#cover-banner p {
	color: black;
}

.services li {
	list-style-type: none;
	
}

.services h3 {
	font-size: 26px;
	color: #022a50;
}

.services li p{
	font-size: 18px;
	margin-left: 20px;

}

.cover-heading {
	color: #022a50
}

.subheading {
	font-size: 30px;
	color: #022a50;
	padding-bottom: 15px;
	border-bottom: 1px solid #1995dc;
	display: inline-block;
}

.subheading.gap {
	margin: 50px 0;
}

.subheading.inverse {
	color: #1995dc;
}

.card-container {
	margin-top: 20px;
	margin-bottom: 50px;
}
.card {
	margin: 15px 0;
}

.container {
	padding: 60px;
}

.form-photo {
	background: url(asset-path('flags.jpg')) no-repeat center center fixed;
  	background-size: cover;
  	height: 500px;
  	padding-top: 150px
}

.panel li {
	list-style-type: none;
	font-size: 17px;
}

.panel ul {
	-webkit-padding-start: 15px;
}

.container a:hover {
	color: inherit;
}

.book-title {
	font-style: italic;
}

.resources-list {
	text-align: center;
}

.resources-list li {
	display: inline-block;
	margin: 10px;
}
.resource-container {
	background-color: #F2F2F2;
	display: inline-block;
	// height: 75px;
	// width: 300px;
	padding: 10px 15px;
	border: 1px solid #e3e3e3;
}

.subtitle {
	font-style: italic;
	font-size: 18px;
	margin: 5px;
}

.college-preview {
	float: left;
	vertical-align: top;
	margin-right: 25px;
	margin-bottom: 25px;
}

.college-feature {
	margin: 15px 0 30px 0;
}

tr {
	padding: 10px;
}
td {
	margin: 10px;
}