// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-container {
	padding: 20px;
	margin-bottom: 30px;
	border: 2px solid #e3e3e3;
	background-color: #f9f9f9;
	border-radius: 2px;
	width: 40%;
}

.article-container:hover {
	background-color: #1995dc;

	a {
		color: white;
		text-decoration: none;
		font-color: inherit;
	}

	h2 {
		color: white;
	}
}